export(f.u)
export(f.mlp0)
export(f.mlpStatistic)
export(f.permk)
export(f.pperm)
export(f.rt)
export(f.pp2g)
export(f.cut0)
export(f.cut2)
export(f.ee1)
export(f.MLP)
export(f.GOAnnotation)
export(f.GOInputMLP)
export(summary.MLP)
