export(computeMLP)
export(mlpStatistic)
export(permk)
export(mapGeneSetStatistic)
export(pp2g)
export(getIndividualPValues)
export(getSmoothedPValues)
export(quantileCurves)
export(smdecreasing1)
export(csort)
export(ctpval1)
export(MLP)
import(AnnotationDbi)
export(goAnnotation)
export(addGeneSetDescription)
