export(u)
export(mlp0)
export(mlpStatistic)
export(permk)
export(pperm)
export(tStatistic)
export(rsd)
export(rsp)
export(rvar)
export(toArray)
export(pp2g)
export(getIndividualPValues)
export(getSmoothedPValues)
export(quantileCurves)
export(smdecreasing1)
export(csort)
export(ctpval1)
export(MLP)
import(AnnotationDbi)
export(goAnnotation)
export(goInputMLP)
S3method(summary, MLP)
export(summary.MLP)
